# Mais sobre `SELECT`

- temporary tables
- views
- variables
- subqueries

In [1]:
import mysql.connector
from functools import partial


def get_connection_helper():

    def run_db_query(connection, query, args=None):
        with connection.cursor() as cursor:
            print('Executando query:')
            cursor.execute(query, args)
            for result in cursor:
                print(result)

    connection = mysql.connector.connect(
        host='localhost',
        user='megadados',
        password='megadados',
        database='sakila',
    )
    return connection, partial(run_db_query, connection)


connection, db = get_connection_helper()

## Aquecimento

Quanta receita foi gerada para cada categoria de filmes? Liste do maior para o menor.

In [ ]:
#Temos que ver quantas vezes recebi o pagamento daquele filme
# Toda vez que agrupo, agrego (SUM ou whereverrrrr)
db('''
SELECT 
    name, SUM(amount) as receita
FROM
    payment
    INNER JOIN rental USING (customer_id)
    INNER JOIN inventory USING (inventory_id)
    INNER JOIN film_category USING (film_id)
    INNER JOIN category USING (category_id)
GROUP BY
    category_id
ORDER BY
    receita DESC

''')

Liste os filmes e o numero de vezes em que foram alugados

In [ ]:
#Depois de fazer essa filtragem vou ter uma tabela com os filmes repetidos e o seu id. Aí tenho que agrupar pelo mesmo nome
# e depois que agrupo, agrego com o COUNT.

db('''
SELECT 
    title, COUNT(rental_id) as vezes_alugados
FROM
    film
    INNER JOIN inventory USING (film_id)
    INNER JOIN rental USING (inventory_id)
GROUP BY
    film_id
ORDER BY
    vezes_alugados DESC
''')

Liste os filmes e o numero de vezes em que foram alugados apenas para filmes que foram alugados mais do que a média de numero de alugueis por filme.

In [4]:
db('''
SELECT
    COUNT(film_id) INTO @cnt_film
FROM
    film
''')
db('''
SELECT
    COUNT(rental_id) INTO @cnt_rental
FROM 
    rental
''')
db('''
SELECT
    @cnt_rental/@cnt_film INTO @avg_rental_per_film
''')
db('''
SELECT
    @avg_rental_per_film
''')

Executando query:
Executando query:
Executando query:
Executando query:
(Decimal('16.044000000'),)

In [6]:
db('''
SELECT 
    title, COUNT(rental_id) as vezes_alugados
FROM
    film
    INNER JOIN inventory USING (film_id)
    INNER JOIN rental USING (inventory_id)
GROUP BY
    film_id
HAVING
    vezes_alugados > @avg_rental_per_film
ORDER BY
    vezes_alugados ASC
''')

Executando query:
('BEACH HEARTBREAKERS', 17)
('BIKINI BORROWERS', 17)
('BREAKFAST GOLDFINGER', 17)
('COMFORTS RUSH', 17)
('CONFUSED CANDLES', 17)
('CONVERSATION DOWNHILL', 17)
('DYING MAKER', 17)
('EGYPT TENENBAUMS', 17)
('FACTORY DRAGON', 17)
('FERRIS MOTHER', 17)
('FLINTSTONES HAPPINESS', 17)
('FREAKY POCUS', 17)
('FRENCH HOLIDAY', 17)
('GANDHI KWAI', 17)
('GREEK EVERYONE', 17)
('HANOVER GALAXY', 17)
('HOLOCAUST HIGHBALL', 17)
('IDAHO LOVE', 17)
('INTENTIONS EMPIRE', 17)
('JEKYLL FROGMEN', 17)
('JERICHO MULAN', 17)
('JOON NORTHWEST', 17)
('LADY STAGE', 17)
('LAWLESS VISION', 17)
('LEAGUE HELLFIGHTERS', 17)
('LOUISIANA HARRY', 17)
('MAJESTIC FLOATS', 17)
('MASK PEACH', 17)
('MIDNIGHT WESTWARD', 17)
('MUSKETEERS WAIT', 17)
('NEWTON LABYRINTH', 17)
('NOON PAPI', 17)
('ORIENT CLOSER', 17)
('PERFECT GROOVE', 17)
('POSEIDON FOREVER', 17)
('POTTER CONNECTICUT', 17)
('REAR TRADING', 17)
('ROCK INSTINCT', 17)
('ROOTS REMEMBER', 17)
('SATISFACTION CONFIDENTIAL', 17)
('SLACKER LIAISONS', 17)
('STRANGERS GRAFFITI', 17)
('SUGAR WONKA', 17)
('TAXI KICK', 17)
('TEEN APOLLO', 17)
('UNITED PILOT', 17)
('VIRGIN DAISY', 17)
('WATERFRONT DELIVERANCE', 17)
('ZOOLANDER FICTION', 17)
('AIRPORT POLLOCK', 18)
('ALONE TRIP', 18)
('BAREFOOT MANCHURIAN', 18)
('BIRDS PERDITION', 18)
('BOULEVARD MOB', 18)
('CANDIDATE PERDITION', 18)
('CAROL TEXAS', 18)
('CLEOPATRA DEVIL', 18)
('CORE SUIT', 18)
('DARN FORRESTER', 18)
('DAWN POND', 18)
('DRAGONFLY STRANGERS', 18)
('DRIVER ANNIE', 18)
('ENOUGH RAGING', 18)
('EXPECATIONS NATURAL', 18)
('FORREST SONS', 18)
('GALAXY SWEETHEARTS', 18)
('GROOVE FICTION', 18)
('GROUNDHOG UNCUT', 18)
('HEAVEN FREEDOM', 18)
('HOPE TOOTSIE', 18)
('INCH JET', 18)
('INSECTS STONE', 18)
('INSTINCT AIRPORT', 18)
('JACKET FRISCO', 18)
('JADE BUNCH', 18)
('LION UNCUT', 18)
('MISSION ZOOLANDER', 18)
('PARADISE SABRINA', 18)
('POLISH BROOKLYN', 18)
('POLLOCK DELIVERANCE', 18)
('RACER EGG', 18)
('REMEMBER DIARY', 18)
('ROUGE SQUAD', 18)
('SCARFACE BANG', 18)
('SECRETARY ROUGE', 18)
('SMOKING BARBARELLA', 18)
('SWEDEN SHINING', 18)
('UNFORGIVEN ZOOLANDER', 18)
('VANISHING ROCKY', 18)
('WEEKEND PERSONAL', 18)
('WHALE BIKINI', 18)
('WONKA SEA', 18)
('BACKLASH UNDEFEATED', 19)
('BILL OTHERS', 19)
('BRIDE INTRIGUE', 19)
('CAMPUS REMEMBER', 19)
('CANYON STOCK', 19)
('CIDER DESIRE', 19)
('CLONES PINOCCHIO', 19)
('CLUB GRAFFITI', 19)
('DESERT POSEIDON', 19)
('DETAILS PACKER', 19)
('DISCIPLE MOTHER', 19)
('DOORS PRESIDENT', 19)
('EARRING INSTINCT', 19)
('ENCINO ELF', 19)
('ENCOUNTERS CURTAIN', 19)
('EYES DRIVING', 19)
('FANTASIA PARK', 19)
('FICTION CHRISTMAS', 19)
('FURY MURDER', 19)
('GABLES METROPOLIS', 19)
('GORGEOUS BINGO', 19)
('HANGING DEEP', 19)
('HONEY TIES', 19)
('HOURS RAGE', 19)
('IGBY MAKER', 19)
('INDEPENDENCE HOTEL', 19)
('JEDI BENEATH', 19)
('MARS ROMAN', 19)
('MINE TITANS', 19)
('MUSIC BOONDOCK', 19)
('NATIONAL STORY', 19)
('NEIGHBORS CHARADE', 19)
('NOVOCAINE FLIGHT', 19)
('PATIENT SISTER', 19)
('POND SEATTLE', 19)
('RAGE GAMES', 19)
('REQUIEM TYCOON', 19)
('ROAD ROXANNE', 19)
('ROXANNE REBEL', 19)
('SHAWSHANK BUBBLE', 19)
('SOMETHING DUCK', 19)
('SUNDANCE INVASION', 19)
('THIEF PELICAN', 19)
('TROJAN TOMORROW', 19)
('VOICE PEACH', 19)
('BRINGING HYSTERICAL', 20)
('CHASING FIGHT', 20)
('CHEAPER CLYDE', 20)
('CHOCOLAT HARRY', 20)
('DALMATIONS SWEDEN', 20)
('DINOSAUR SECRETARY', 20)
('FLYING HOOK', 20)
('GARDEN ISLAND', 20)
('GO PURPLE', 20)
('HARPER DYING', 20)
('HEARTBREAKERS BRIGHT', 20)
('HELLFIGHTERS SIERRA', 20)
('HUNCHBACK IMPOSSIBLE', 20)
('INSIDER ARIZONA', 20)
('INTERVIEW LIAISONS', 20)
('INTRIGUE WORST', 20)
('JERK PAYCHECK', 20)
('JET NEIGHBORS', 20)
('KICK SAVANNAH', 20)
('KISSING DOLLS', 20)
('LOVE SUICIDES', 20)
('MASKED BUBBLE', 20)
('MILLION ACE', 20)
('MINDS TRUMAN', 20)
('MONEY HAROLD', 20)
('NORTHWEST POLISH', 20)
('OUTFIELD MASSACRE', 20)
('PEAK FOREVER', 20)
('PINOCCHIO SIMON', 20)
('PREJUDICE OLEANDER', 20)
('QUEST MUSSOLINI', 20)
('REDEMPTION COMFORTS', 20)
('REIGN GENTLEMEN', 20)
('REUNION WITCHES', 20)
('RIVER OUTLAW', 20)
('ROOM ROMAN', 20)
('SECRETS PARADISE', 20)
('SLEEPLESS MONSOON', 20)
('SPICE SORORITY', 20)
('STEPMOM DREAM', 20)
('STRAIGHT HOURS', 20)
('TRAMP OTHERS', 20)
('WRONG BEHAVIOR', 20)
('AGENT TRUMAN', 21)
('AMADEUS HOLY', 21)
('AMISTAD MIDSUMMER', 21)
('ANACONDA CONFESSIONS', 21)
('ARIZONA BANG', 21)
('ARMAGEDDON LOST', 21)
('BADMAN DAWN', 21)
('BASIC EASY', 21)
('BERETS AGENT', 21)
('BEVERLY OUTLAW', 21)
('BLUES INSTINCT', 21)
('BROOKLYN DESERT', 21)
('CALENDAR GUNFIGHT', 21)
('CAUSE DATE', 21)
('CHAINSAW UPTOWN', 21)
('CHARIOTS CONSPIRACY', 21)
('CHRISTMAS MOONSHINE', 21)
('COAST RAINBOW', 21)
('CROSSROADS CASUALTIES', 21)
('DECEIVER BETRAYED', 21)
('DIVIDE MONSTER', 21)
('DOOM DANCING', 21)
('DRACULA CRYSTAL', 21)
('DRIVING POLISH', 21)
('EGG IGBY', 21)
('EMPIRE MALKOVICH', 21)
('EXCITEMENT EVE', 21)
('FIDELITY DEVIL', 21)
('FIREBALL PHILADELPHIA', 21)
('GHOST GROUNDHOG', 21)
('GREASE YOUTH', 21)
('HIGHBALL POTTER', 21)
('LEBOWSKI SOLDIERS', 21)
('MOONSHINE CABIN', 21)
('MOURNING PURPLE', 21)
('OPEN AFRICAN', 21)
('PIANIST OUTFIELD', 21)
('PIRATES ROXANNE', 21)
('RESURRECTION SILVERADO', 21)
('SABRINA MIDNIGHT', 21)
('SECRET GROUNDHOG', 21)
('SLEEPY JAPANESE', 21)
('SLEUTH ORIENT', 21)
('SPLENDOR PATTON', 21)
('STAR OPERATION', 21)
('STING PERSONAL', 21)
('SUIT WALLS', 21)
('UNBREAKABLE KARATE', 21)
('UNDEFEATED DALMATIONS', 21)
('VACATION BOONDOCK', 21)
('WAIT CIDER', 21)
('WOLVES DESIRE', 21)
('ALIEN CENTER', 22)
('ALTER VICTORY', 22)
('AMERICAN CIRCUS', 22)
('ANGELS LIFE', 22)
('ANNIE IDENTITY', 22)
('BANGER PINOCCHIO', 22)
('BEAR GRACELAND', 22)
('BEAUTY GREASE', 22)
('BLADE POLISH', 22)
('BORROWERS BEDAZZLED', 22)
('CHICKEN HELLFIGHTERS', 22)
('CHILL LUCK', 22)
('CONGENIALITY QUEST', 22)
('DREAM PICKUP', 22)
('EAGLES PANKY', 22)
('FALCON VOLUME', 22)
('FIGHT JAWBREAKER', 22)
('FLATLINERS KILLER', 22)
('GRAPES FURY', 22)
('HAUNTING PIANIST', 22)
('HEAD STRANGER', 22)
('HIGH ENCINO', 22)
('HOMICIDE PEACH', 22)
('HUSTLER PARTY', 22)
('KISS GLORY', 22)
('LIAISONS SWEET', 22)
('MALTESE HOPE', 22)
('MIDSUMMER GROUNDHOG', 22)
('PACKER MADIGAN', 22)
('QUEEN LUKE', 22)
('SEA VIRGIN', 22)
('SHAKESPEARE SADDLE', 22)
('SINNERS ATLANTIS', 22)
('SNATCH SLIPPER', 22)
('SOUTH WAIT', 22)
('TOURIST PELICAN', 22)
('VOLCANO TEXAS', 22)
('WHISPERER GIANT', 22)
('WONDERLAND CHRISTMAS', 22)
('ACADEMY DINOSAUR', 23)
('AFFAIR PREJUDICE', 23)
('ALADDIN CALENDAR', 23)
('BALLOON HOMEWARD', 23)
('CANDLES GRAPES', 23)
('CARRIE BUNCH', 23)
('CROOKED FROGMEN', 23)
('CUPBOARD SINNERS', 23)
('EARTH VISION', 23)
('EASY GLADIATOR', 23)
('FLAMINGOS CONNECTICUT', 23)
('FOOL MOCKINGBIRD', 23)
('FREDDY STORM', 23)
('GENTLEMEN STAGE', 23)
('HEAVYWEIGHTS BEAST', 23)
('HOUSE DYNAMITE', 23)
('KARATE MOON', 23)
('KWAI HOMEWARD', 23)
('MURDER ANTITRUST', 23)
('NAME DETECTIVE', 23)
('OTHERS SOUP', 23)
('OUTBREAK DIVINE', 23)
('PATTON INTERVIEW', 23)
('PHILADELPHIA WIFE', 23)
('SALUTE APOLLO', 23)
('SCORPION APOLLO', 23)
('SNOWMAN ROLLERCOASTER', 23)
('STEEL SANTA', 23)
('STRICTLY SCARFACE', 23)
('TITANIC BOONDOCK', 23)
('TROUBLE DATE', 23)
('TRUMAN CRAZY', 23)
('WASH HEAVENLY', 23)
('WIND PHANTOM', 23)
('WOMEN DORADO', 23)
('YENTL IDAHO', 23)
('ALAMO VIDEOTAPE', 24)
('ARACHNOPHOBIA ROLLERCOASTER', 24)
('ATLANTIS CAUSE', 24)
('ATTRACTION NEWTON', 24)
('BOUND CHEAPER', 24)
('CAPER MOTIONS', 24)
('CELEBRITY HORN', 24)
('CENTER DINOSAUR', 24)
('COLOR PHILADELPHIA', 24)
('DRIFTER COMMANDMENTS', 24)
('FARGO GANDHI', 24)
('GOLDFINGER SENSIBILITY', 24)
('GUNFIGHT MOON', 24)
('HORN WORKING', 24)
('HURRICANE AFFAIR', 24)
('ICE CROSSING', 24)
('JASON TRAP', 24)
('JUMPING WRATH', 24)
('KNOCK WARLOCK', 24)
('LOLA AGENT', 24)
('MAIDEN HOME', 24)
('MOCKINGBIRD HOLLYWOOD', 24)
('ORANGE GRAPES', 24)
('OZ LIAISONS', 24)
('PACIFIC AMISTAD', 24)
('ROMAN PUNK', 24)
('SEATTLE EXPECATIONS', 24)
('SHOOTIST SUPERFLY', 24)
('SLEEPING SUSPECTS', 24)
('SLUMS DUCK', 24)
('STRANGELOVE DESIRE', 24)
('SUNRISE LEAGUE', 24)
('WEDDING APOLLO', 24)
('BARBARELLA STREETCAR', 25)
('CLASH FREDDY', 25)
('CLUELESS BUCKET', 25)
('CONEHEADS SMOOCHY', 25)
('DOUBLE WRATH', 25)
('DOWNHILL ENOUGH', 25)
('DYNAMITE TARZAN', 25)
('EFFECT GLADIATOR', 25)
('ESCAPE METROPOLIS', 25)
('FEUD FROGMEN', 25)
('FISH OPUS', 25)
('GUN BONNIE', 25)
('HILLS NEIGHBORS', 25)
('MADNESS ATTACKS', 25)
('MALLRATS UNITED', 25)
('METAL ARMAGEDDON', 25)
('NIGHTMARE CHILL', 25)
('OSCAR GOLD', 25)
('SAMURAI LION', 25)
('SHEPHERD MIDSUMMER', 25)
('SHOW LORD', 25)
('STREETCAR INTENTIONS', 25)
('SUN CONFESSIONS', 25)
('TELEMARK HEARTBREAKERS', 25)
('TOMORROW HUSTLER', 25)
('TRADING PINOCCHIO', 25)
('WORKING MICROCOSMOS', 25)
('ALASKA PHANTOM', 26)
('BROTHERHOOD BLANKET', 26)
('COMA HEAD', 26)
('CONTACT ANONYMOUS', 26)
('DISTURBING SCARFACE', 26)
('DURHAM PANKY', 26)
('FANTASY TROOPERS', 26)
('FELLOWSHIP AUTUMN', 26)
('HALF OUTFIELD', 26)
('HANKY OCTOBER', 26)
('HYDE DOCTOR', 26)
('INNOCENT USUAL', 26)
('ISLAND EXORCIST', 26)
('MALKOVICH PET', 26)
('METROPOLIS COMA', 26)
('PELICAN COMFORTS', 26)
('PITY BOUND', 26)
('POCUS PULP', 26)
('SEABISCUIT PUNK', 26)
('STAGECOACH ARMAGEDDON', 26)
('TIGHTS DAWN', 26)
('TRACY CIDER', 26)
('VELVET TERMINATOR', 26)
('WESTWARD SEABISCUIT', 26)
('BLACKOUT PRIVATE', 27)
('CAMELOT VACATION', 27)
('CHANCE RESURRECTION', 27)
('CURTAIN VIDEOTAPE', 27)
('DANCING FEVER', 27)
('DETECTIVE VISION', 27)
('DORADO NOTTING', 27)
('FORRESTER COMANCHEROS', 27)
('GANGS PRIDE', 27)
('GOLDMINE TYCOON', 27)
('HORROR REIGN', 27)
('INVASION CYCLONE', 27)
('LIES TREATMENT', 27)
('LOATHING LEGALLY', 27)
('LOSE INCH', 27)
('MOVIE SHAKESPEARE', 27)
('NONE SPIKING', 27)
('OPERATION OPERATION', 27)
('PRIMARY GLASS', 27)
('PRINCESS GIANT', 27)
('RANGE MOONWALKER', 27)
('SPY MILE', 27)
('SWARM GOLD', 27)
('TELEGRAPH VOYAGE', 27)
('TORQUE BOUND', 27)
('WARDROBE PHANTOM', 27)
('CLOSER BANG', 28)
('EXPENDABLE STALLION', 28)
('FATAL HAUNTED', 28)
('GIANT TROOPERS', 28)
('GILMORE BOILED', 28)
('HANDICAP BOONDOCK', 28)
('ROSES TREASURE', 28)
('SATURDAY LAMBS', 28)
('STORY SIDE', 28)
('TRIP NEWTON', 28)
('VOYAGE LEGALLY', 28)
('BINGO TALENTED', 29)
('BOOGIE AMELIE', 29)
('CONFIDENTIAL INTERVIEW', 29)
('DEER VIRGINIAN', 29)
('ENEMY ODDS', 29)
('FAMILY SWEET', 29)
('GLEAMING JAWBREAKER', 29)
('GREATEST NORTH', 29)
('MOON BUNCH', 29)
('STORM HAPPINESS', 29)
('SWEETHEARTS SUSPECTS', 29)
('TALENTED HOMICIDE', 29)
('TITANS JERK', 29)
('VIDEOTAPE ARSENIC', 29)
('VIRGINIAN PLUTO', 29)
('BUTTERFLY CHOCOLAT', 30)
('CAT CONEHEADS', 30)
('DOGMA FAMILY', 30)
('ENGLISH BULWORTH', 30)
('FROST HEAD', 30)
('GRAFFITI LOVE', 30)
('HARRY IDAHO', 30)
('IDOLS SNATCHERS', 30)
('MARRIED GO', 30)
('MASSACRE USUAL', 30)
('MUSCLE BRIGHT', 30)
('PULP BEVERLY', 30)
('RUGRATS SHAKESPEARE', 30)
('SHOCK CABIN', 30)
('SUSPECTS QUILLS', 30)
('WITCHES PANIC', 30)
('APACHE DIVINE', 31)
('GOODFELLAS SALUTE', 31)
('HOBBIT ALIEN', 31)
('NETWORK PEAK', 31)
('ROBBERS JOON', 31)
('RUSH GOODFELLAS', 31)
('TIMBERLAND SKY', 31)
('WIFE TURN', 31)
('ZORRO ARK', 31)
('FORWARD TEMPLE', 32)
('GRIT CLOCKWORK', 32)
('JUGGLER HARDLY', 32)
('RIDGEMONT SUBMARINE', 32)
('SCALAWAG DUCK', 32)
('ROCKETEER MOTHER', 33)
('BUCKET BROTHERHOOD', 34)

## Views

Uma *view* é uma tabela virtual, construida a partir de um comando `SELECT`. Por exemplo: execute o código a seguir.

In [11]:
db('''
DROP VIEW IF EXISTS movie_count;
''')

db('''
CREATE VIEW movie_count AS
    SELECT 
        title, COUNT(rental_id) as cnt
    FROM
        film
        LEFT OUTER JOIN inventory USING (film_id)
        LEFT OUTER JOIN rental USING (inventory_id)
    GROUP BY
        film_id
    ORDER BY
        cnt ASC;
''')

Executando query:
Executando query:

Agora temos uma *view* chamada `movie_count`. Vamos verificar que ela funcionou, listando as 30 primeiras linhas:

In [12]:
db('''
SELECT 
    *
FROM
    movie_count 
LIMIT 
    30
''')

Executando query:
('ALICE FANTASIA', 0)
('APOLLO TEEN', 0)
('ARGONAUTS TOWN', 0)
('ARK RIDGEMONT', 0)
('ARSENIC INDEPENDENCE', 0)
('BOONDOCK BALLROOM', 0)
('BUTCH PANTHER', 0)
('CATCH AMISTAD', 0)
('CHINATOWN GLADIATOR', 0)
('CHOCOLATE DUCK', 0)
('COMMANDMENTS EXPRESS', 0)
('CROSSING DIVORCE', 0)
('CROWDS TELEMARK', 0)
('CRYSTAL BREAKING', 0)
('DAZED PUNK', 0)
('DELIVERANCE MULHOLLAND', 0)
('FIREHOUSE VIETNAM', 0)
('FLOATS GARDEN', 0)
('FRANKENSTEIN STRANGER', 0)
('GLADIATOR WESTWARD', 0)
('GUMP DATE', 0)
('HATE HANDICAP', 0)
('HOCUS FRIDA', 0)
('KENTUCKIAN GIANT', 0)
('KILL BROTHERHOOD', 0)
('MUPPET MILE', 0)
('ORDER BETRAYED', 0)
('PEARL DESTINY', 0)
('PERDITION FARGO', 0)
('PSYCHO SHRUNK', 0)

In [ ]:
db('''
SELECT 
    * 
FROM 
    movie_count 
ORDER BY
    cnt DESC
LIMIT 30
''')

Agora suponha que alteramos a tabela `film`, mudando o nome do filme "DAZED PUNK" para "STONED PUNK".

**Atividade**: Do it.

In [13]:
db('''
UPDATE film SET title = "STONED PUNK" WHERE title = "DAZED PUNK"
''')

Executando query:

Verifique agora a nossa *view*:

In [15]:
db('''
SELECT
    *
FROM
    movie_count
LIMIT
    30
''')

Executando query:
('ALICE FANTASIA', 0)
('APOLLO TEEN', 0)
('ARGONAUTS TOWN', 0)
('ARK RIDGEMONT', 0)
('ARSENIC INDEPENDENCE', 0)
('BOONDOCK BALLROOM', 0)
('BUTCH PANTHER', 0)
('CATCH AMISTAD', 0)
('CHINATOWN GLADIATOR', 0)
('CHOCOLATE DUCK', 0)
('COMMANDMENTS EXPRESS', 0)
('CROSSING DIVORCE', 0)
('CROWDS TELEMARK', 0)
('CRYSTAL BREAKING', 0)
('STONED PUNK', 0)
('DELIVERANCE MULHOLLAND', 0)
('FIREHOUSE VIETNAM', 0)
('FLOATS GARDEN', 0)
('FRANKENSTEIN STRANGER', 0)
('GLADIATOR WESTWARD', 0)
('GUMP DATE', 0)
('HATE HANDICAP', 0)
('HOCUS FRIDA', 0)
('KENTUCKIAN GIANT', 0)
('KILL BROTHERHOOD', 0)
('MUPPET MILE', 0)
('ORDER BETRAYED', 0)
('PEARL DESTINY', 0)
('PERDITION FARGO', 0)
('PSYCHO SHRUNK', 0)

Como você pode ver, as views são tabelas virtuais que são automaticamente atualizadas quando as tabelas originais são modificadas.

In [16]:
connection.rollback()

In [17]:
db('''
SELECT
    *
FROM
    movie_count
LIMIT
    30
''')

Executando query:
('ALICE FANTASIA', 0)
('APOLLO TEEN', 0)
('ARGONAUTS TOWN', 0)
('ARK RIDGEMONT', 0)
('ARSENIC INDEPENDENCE', 0)
('BOONDOCK BALLROOM', 0)
('BUTCH PANTHER', 0)
('CATCH AMISTAD', 0)
('CHINATOWN GLADIATOR', 0)
('CHOCOLATE DUCK', 0)
('COMMANDMENTS EXPRESS', 0)
('CROSSING DIVORCE', 0)
('CROWDS TELEMARK', 0)
('CRYSTAL BREAKING', 0)
('DAZED PUNK', 0)
('DELIVERANCE MULHOLLAND', 0)
('FIREHOUSE VIETNAM', 0)
('FLOATS GARDEN', 0)
('FRANKENSTEIN STRANGER', 0)
('GLADIATOR WESTWARD', 0)
('GUMP DATE', 0)
('HATE HANDICAP', 0)
('HOCUS FRIDA', 0)
('KENTUCKIAN GIANT', 0)
('KILL BROTHERHOOD', 0)
('MUPPET MILE', 0)
('ORDER BETRAYED', 0)
('PEARL DESTINY', 0)
('PERDITION FARGO', 0)
('PSYCHO SHRUNK', 0)

### Vamos praticar

Verifique quantas vezes o filme "COWBOY DOOM" foi alugado usando a view `movie_count`

In [19]:
db('''
SELECT
    cnt
FROM
    movie_count
WHERE
    title =  "COWBOY DOOM"
''')

Executando query:
(7,)

Registre um aluguel do filme "COWBOY DOOM", feito pelo funcionario "Jon Stephens" na loja id=1 para o cliente "JESSIE BANKS", na data '2019-01-01', com data de retorno '2019-01-08'

In [20]:
db('SELECT staff_id into @staff_id FROM staff WHERE first_name = "Jon" AND last_name = "Stephens"')
db('SELECT @staff_id')

Executando query:
Executando query:
(2,)

In [21]:
db('''
SELECT
    customer_id into @customer_id
FROM
    customer
WHERE
    first_name = "JESSIE"
    AND last_name = "BANKS"
''')
db('SELECT @customer_id')

Executando query:
Executando query:
(215,)

In [22]:
db('''
SELECT
    inventory_id
FROM
    film
    INNER JOIN inventory USING (film_id)
WHERE
    title = 'COWBOY DOOM'
''')

Executando query:
(845,)
(846,)

In [ ]:
db('''
SELECT
    *
FROM
    rental
WHERE
    inventory_id = 846
    AND return_date IS NULL
''')

In [23]:
db('''
INSERT INTO rental (
    rental_date, 
    inventory_id, 
    customer_id, 
    return_date, 
    staff_id
)
VALUES 
(
    "2019-01-01",
    845,
    @customer_id,
    "2019-01-08",
    @staff_id
)''')

Executando query:

Verifique usando a view que a contagem de alugueis do filme subiu.

In [26]:
db('SELECT cnt FROM movie_count WHERE title = "COWBOY DOOM"')

Executando query:
(7,)

Faça o *rollback* desta alteração, para não modificar a nossa querida base de dados *sakila*.

In [25]:
connection.rollback()

## Tabelas temporárias

Tabelas temporárias podem ser criadas para ajudar nas tarefas de manipulação de dados. Essas tabelas existem apenas pela duração da sessão. Para criar uma tabela temporária, basta adicionar a palavra-chave `TEMPORARY` no momento da criação.

É comum criar tabelas temporárias à partir do resultado de comandos `SELECT`. Por exemplo, a seguinte query permite montar uma tabela temporária com os filmes que duram mais que 3 horas:

In [27]:
db('''
CREATE TEMPORARY TABLE long_film 
    SELECT
        *
    FROM
        film
    WHERE
        film.length > 180;
''')

Executando query:

Podemos verificar que a tabela `long_film` agora existe:

In [28]:
db('DESCRIBE long_film')

Executando query:
('film_id', 'smallint unsigned', 'NO', '', '0', 'NULL')
('title', 'varchar(128)', 'NO', '', None, 'NULL')
('description', 'text', 'YES', '', None, 'NULL')
('release_year', 'year', 'YES', '', None, 'NULL')
('language_id', 'tinyint unsigned', 'NO', '', None, 'NULL')
('original_language_id', 'tinyint unsigned', 'YES', '', None, 'NULL')
('rental_duration', 'tinyint unsigned', 'NO', '', '3', 'NULL')
('rental_rate', 'decimal(4,2)', 'NO', '', '4.99', 'NULL')
('length', 'smallint unsigned', 'YES', '', None, 'NULL')
('replacement_cost', 'decimal(5,2)', 'NO', '', '19.99', 'NULL')
('rating', "enum('G','PG','PG-13','R','NC-17')", 'YES', '', 'G', 'NULL')
('special_features', "set('Trailers','Commentaries','Deleted Scenes','Behind the Scenes')", 'YES', '', None, 'NULL')
('last_update', 'timestamp', 'NO', '', 'CURRENT_TIMESTAMP', 'on update CURRENT_TIMESTAMP')

Muito embora ela não apareça na lista de tabelas: isso é um bug do MySQL. (https://dev.mysql.com/worklog/task/?id=648)

In [29]:
db('SHOW TABLES')

Executando query:
('actor',)
('actor_info',)
('address',)
('category',)
('city',)
('country',)
('customer',)
('customer_list',)
('film',)
('film_actor',)
('film_category',)
('film_list',)
('film_text',)
('inventory',)
('language',)
('movie_count',)
('nicer_but_slower_film_list',)
('payment',)
('rental',)
('sales_by_film_category',)
('sales_by_store',)
('staff',)
('staff_list',)
('store',)

Vamos listar o conteudo desta tabela:

In [30]:
db('SELECT title FROM long_film')

Executando query:
('ANALYZE HOOSIERS',)
('BAKED CLEOPATRA',)
('CATCH AMISTAD',)
('CHICAGO NORTH',)
('CONSPIRACY SPIRIT',)
('CONTROL ANTHEM',)
('CRYSTAL BREAKING',)
('DARN FORRESTER',)
('FRONTIER CABIN',)
('GANGS PRIDE',)
('HAUNTING PIANIST',)
('HOME PITY',)
('HOTEL HAPPINESS',)
('INTRIGUE WORST',)
('JACKET FRISCO',)
('KING EVOLUTION',)
('LAWLESS VISION',)
('LOVE SUICIDES',)
('MONSOON CAUSE',)
('MOONWALKER FOOL',)
('MUSCLE BRIGHT',)
('POND SEATTLE',)
('RECORDS ZORRO',)
('REDS POCUS',)
('RUNAWAY TENENBAUMS',)
('SATURN NAME',)
('SCALAWAG DUCK',)
('SEARCHERS WAIT',)
('SMOOCHY CONTROL',)
('SOLDIERS EVOLUTION',)
('SONS INTERVIEW',)
('SORORITY QUEEN',)
('STAR OPERATION',)
('SWEET BROTHERHOOD',)
('THEORY MERMAID',)
('WIFE TURN',)
('WILD APOLLO',)
('WORST BANGER',)
('YOUNG LANGUAGE',)

Vamos apagar a tabela `long_film`:

In [35]:
db('DROP TABLE long_film')

Executando query:

ProgrammingError: 1051 (42S02): Unknown table 'sakila.long_film'

### Vamos praticar

- Crie uma tabela temporária `max_duration` que contém a duração máxima de filme para cada categoria

In [54]:
db('''DROP TABLE IF EXISTS max_duration''')

db('''
CREATE TEMPORARY TABLE max_duration 
    SELECT
        name, MAX(length) as max_length, category_id
    FROM
        film
        INNER JOIN film_category USING (film_id)
        INNER JOIN category USING (category_id)
    GROUP BY
        category_id
''')

Executando query:
Executando query:

 - Verifique a tabela.

In [55]:
db('''
SELECT
    *
FROM
    max_duration
''')

Executando query:
('Action', 185, 1)
('Animation', 185, 2)
('Children', 178, 3)
('Classics', 184, 4)
('Comedy', 185, 5)
('Documentary', 183, 6)
('Drama', 181, 7)
('Family', 184, 8)
('Foreign', 184, 9)
('Games', 185, 10)
('Horror', 181, 11)
('Music', 185, 12)
('New', 183, 13)
('Sci-Fi', 185, 14)
('Sports', 184, 15)
('Travel', 185, 16)

- Agora use a tabela temporária para construir uma tabela com as categorias e seus respectivos filmes mais longos:

In [56]:
db('''
SELECT
    length, max_length, title, name
FROM
    film
    INNER JOIN film_category USING (film_id)
    INNER JOIN max_duration USING (category_id)
WHERE
    length = max_length
''')

Executando query:
(185, 185, 'DARN FORRESTER', 'Action')
(185, 185, 'WORST BANGER', 'Action')
(185, 185, 'GANGS PRIDE', 'Animation')
(185, 185, 'POND SEATTLE', 'Animation')
(178, 178, 'FURY MURDER', 'Children')
(178, 178, 'WRONG BEHAVIOR', 'Children')
(184, 184, 'CONSPIRACY SPIRIT', 'Classics')
(185, 185, 'CONTROL ANTHEM', 'Comedy')
(183, 183, 'WIFE TURN', 'Documentary')
(183, 183, 'YOUNG LANGUAGE', 'Documentary')
(181, 181, 'JACKET FRISCO', 'Drama')
(184, 184, 'KING EVOLUTION', 'Family')
(184, 184, 'CRYSTAL BREAKING', 'Foreign')
(184, 184, 'SORORITY QUEEN', 'Foreign')
(185, 185, 'CHICAGO NORTH', 'Games')
(181, 181, 'ANALYZE HOOSIERS', 'Horror')
(181, 181, 'LOVE SUICIDES', 'Horror')
(185, 185, 'HOME PITY', 'Music')
(183, 183, 'FRONTIER CABIN', 'New')
(185, 185, 'SOLDIERS EVOLUTION', 'Sci-Fi')
(184, 184, 'SMOOCHY CONTROL', 'Sports')
(185, 185, 'MUSCLE BRIGHT', 'Travel')
(185, 185, 'SWEET BROTHERHOOD', 'Travel')

- delete a tabela temporária

In [58]:
db('DROP TABLE max_duration')

Executando query:

### Desafio!

- Gere uma tabela contendo, para cada ator, a seguinte informação:

| first_name | last_name | filmes por categoria |
|--|--|--|
| PENELOPE | GUINESS | Animation: ANACONDA CONFESSIONS; Children: LANGUAGE COWBOY; Classics: COLOR PHILADELPHIA, WESTWARD SEABISCUIT; Comedy: VERTIGO NORTHWEST; Documentary: ACADEMY DINOSAUR; Family: KING EVOLUTION, SPLASH GUMP; Foreign: MULHOLLAND BEAST; Games: BULWORTH COMMANDMENTS, HUMAN GRAFFITI; Horror: ELEPHANT TROJAN, LADY STAGE, RULES HUMAN; Music: WIZARD COLDBLOODED; New: ANGELS LIFE, OKLAHOMA JUMANJI; Sci-Fi: CHEAPER CLYDE; Sports: GLEAMING JAWBREAKER |
| NICK | WAHLBERG | Action: BULL SHAWSHANK; Animation: FIGHT JAWBREAKER; Children: JERSEY SASSY; Classics: DRACULA CRYSTAL, GILBERT PELICAN; Comedy: MALLRATS UNITED, RUSHMORE MERMAID; Documentary: ADAPTATION HOLES; Drama: WARDROBE PHANTOM; Family: APACHE DIVINE, CHISUM BEHAVIOR, INDIAN LOVE, MAGUIRE APACHE; Foreign: BABY HALL, HAPPINESS UNITED; Games: ROOF CHAMPION; Music: LUCKY FLYING; New: DESTINY SATURDAY, FLASH WARS, JEKYLL FROGMEN, MASK PEACH; Sci-Fi: CHAINSAW UPTOWN, GOODFELLAS SALUTE; Travel: LIAISONS SWEET, SMILE EARRING |
| etc | etc | etc |

Dica: use `GROUP_CONCAT` para agrupar todas as strings de uma coluna em uma string só, e `CONCAT` para unir strings particulares.

In [62]:
db('''
DROP TABLE IF EXISTS actor_category_films
''')

db('''
CREATE TEMPORARY TABLE actor_category_films
SELECT
    first_name, last_name, CONCAT(name, ": ", GROUP_CONCAT(title SEPARATOR ", "))
FROM 
    actor
    INNER JOIN film_actor USING(actor_id)
    INNER JOIN film USING(film_id)
    INNER JOIN film_category USING(film_id)
    INNER JOIN category USING(category_id)
    
GROUP BY
    actor_id, category_id
''')

Executando query:
Executando query:

In [63]:
db('SELECT * FROM actor_category_films LIMIT 10')

Executando query:
('PENELOPE', 'GUINESS', 'Animation: ANACONDA CONFESSIONS')
('PENELOPE', 'GUINESS', 'Children: LANGUAGE COWBOY')
('PENELOPE', 'GUINESS', 'Classics: COLOR PHILADELPHIA, WESTWARD SEABISCUIT')
('PENELOPE', 'GUINESS', 'Comedy: VERTIGO NORTHWEST')
('PENELOPE', 'GUINESS', 'Documentary: ACADEMY DINOSAUR')
('PENELOPE', 'GUINESS', 'Family: KING EVOLUTION, SPLASH GUMP')
('PENELOPE', 'GUINESS', 'Foreign: MULHOLLAND BEAST')
('PENELOPE', 'GUINESS', 'Games: BULWORTH COMMANDMENTS, HUMAN GRAFFITI')
('PENELOPE', 'GUINESS', 'Horror: ELEPHANT TROJAN, LADY STAGE, RULES HUMAN')
('PENELOPE', 'GUINESS', 'Music: WIZARD COLDBLOODED')

In [64]:
db('''
SELECT
    first_name, last_name, GROUP_CONCAT(films SEPARATOR "; ") as total_films
FROM
    actor_category_films
GROUP BY
    actor_id
''')

Executando query:

ProgrammingError: 1054 (42S22): Unknown column 'films' in 'field list'

## Variáveis

Podemos montar uma query que retorne um valor só e armazenar este valor em uma variável, para uso posterior em outras queries. Para isso vamos usar o prefixo '@' para indicar variáveis, e o comando `SELECT ... INTO`.

Exemplo: quais são os filmes "caros" da nossa base sakila? Vamos descobrir quais filmes custam mais que um desvio padrão acima da média de preços de locação.

Primeiro vamos calcular a média e o desvio padrão dos preços de aluguel:

In [ ]:
db('''
SELECT 
    AVG(rental_rate), 
    STDDEV(rental_rate)
INTO 
    @avg_rate, 
    @stddev_rate 
FROM
    film;
''')

Note que a query não retorna um resultado: o resultado foi armazenado direto nas variáveis `@avg_rate` e `@stddev_rate`. Vamos usar um `SELECT` sem tabelas para ver o resultado:

In [ ]:
db('SELECT @avg_rate, @stddev_rate')

Agora podemos selecionar os filmes caros!

In [ ]:
db('''
SELECT 
    title, rental_rate
FROM
    film
WHERE
    rental_rate > @avg_rate + @stddev_rate;
''')

### Vamos praticar

Use variáveis temporárias para encontrar o ator que mais participou de filmes.

## Operador `IN`

Suponha que desejamos listar todos os filmes dos 3 atores mais populares. Podemos começar listando os 3 atores mais populares:

In [ ]:
db('''
SELECT 
    actor_id, first_name, last_name, COUNT(film_id) AS num_films
FROM
    actor
    INNER JOIN film_actor USING (actor_id)
GROUP BY 
    actor_id
ORDER BY 
    num_films DESC
LIMIT 3
''')

Vamos criar uma tabela temporária para guardar a informação de `actor_id` desses atores:

In [ ]:
db('DROP TABLE IF EXISTS temp_pop_actors')
db('''
CREATE TEMPORARY TABLE temp_pop_actors
    SELECT first_name, last_name, actor_id FROM
        actor
        INNER JOIN film_actor USING (actor_id)
    GROUP BY 
        actor_id
    ORDER BY 
        COUNT(film_id) DESC
    LIMIT 3
''')
db('''
SELECT * from temp_pop_actors
''')

Por fim, vamos usar essa informação para listar os filmes dos atores populares:

In [ ]:
db('''
SELECT DISTINCT
    title
FROM
    film
    INNER JOIN film_actor USING (film_id)
WHERE
    actor_id IN (SELECT actor_id FROM temp_pop_actors);
''')

Note o uso de *subqueries*!

Não se esqueça de limpar tudo no final!

In [ ]:
db('DROP TABLE temp_pop_actors')

### Vamos praticar

Liste os atores que participaram dos 3 filmes mais rentáveis (aqueles que mais geraram receita para a locadora).

## Subqueries

Os tópicos discutidos acima poderiam ser resolvidos, em grande parte, com subqueries. As subqueries são queries `SELECT` criadas dentro de outras queries. 

Poderíamos ter usado subqueries nos mesmos lugares onde usamos tabelas temporárias, nos tópicos acima. Quando a subquery pode ser transformada em uma tabela temporária independente, separada da query exterior, dizemos que a subquery é **não-correlacionada** com a query exterior.

Usar subqueries não-correlacionadas é um tópico controverso: podemos sempre usar uma tabela temporária ou, ás vezes, pensar em um `JOIN` simples. Aliás, muitas vezes o otimizador de queries do banco de dados transformará a subquery em `JOIN`, se isso for vantajoso em termos de desempenho.

Uma subquery que depende da query externa (e portanto não pode ser separada em uma tabela temporária independente) é chamada de **subquery correlacionada**. Nestes casos podemos ter que executar a subquery para cada linha da query exterior!

### Vamos praticar

Vamos refazer a atividade dos filmes de atores populares, usando subqueries. 

Temos um problema: o MySQL não suporta ``LIMIT`` em subqueries com o operador ``IN``. Vamos investigar isso mais de perto. 

Em primeiro lugar faça uma tradução direta da implementação da atividade anterior trocando tabela temporária por subquery.

In [ ]:
try:
    db('''
    SELECT 
        actor_id, first_name, last_name
    FROM
        actor
        INNER JOIN film_actor USING (actor_id)
    WHERE
        film_actor.film_id IN (
            SELECT 
                film_id
            FROM
                film
                INNER JOIN inventory USING (film_id)
                INNER JOIN rental USING (inventory_id)
                INNER JOIN payment USING (rental_id)
            WHERE
                payment_date IS NOT NULL
            GROUP BY 
                film_id
            ORDER BY 
                SUM(amount)
            LIMIT 
                3)
    ORDER BY 
        actor_id
    ''')
except mysql.connector.ProgrammingError as e:
    print(f'ProgrammingError: {e}')

Ok, apareceu o problema. Mas considere que o problema original não precisava de IN desde o começo! Construa essa solução.

# `UNION`

Quando duas tabelas tem **EXATAMENTE** as mesmas colunas, podemos concatená-las e formar uma grande tabela unificada usando o operador `UNION`. Por exemplo: suponha que desejamos montar uma lista dos nomes e sobrenomes de todos os clientes E de todos os funcionários. Eis uma solução possível:

In [ ]:
db('DROP TABLE IF EXISTS nomes_clientes')
db('''
CREATE TEMPORARY TABLE nomes_clientes 
    SELECT first_name, last_name FROM customer
''')

In [ ]:
db('DESCRIBE nomes_clientes')
db('SELECT * FROM nomes_clientes LIMIT 5')

In [ ]:
db('DROP TABLE IF EXISTS nomes_staff')
db('''
CREATE TEMPORARY TABLE nomes_staff 
    SELECT first_name, last_name FROM staff
''')

In [ ]:
db('DESCRIBE nomes_staff')
db('SELECT * FROM nomes_staff LIMIT 5')

In [ ]:
db('DROP TABLE IF EXISTS nomes_all')
db('''
CREATE TEMPORARY TABLE nomes_all 
    (SELECT * FROM nomes_staff) 
    UNION 
    (SELECT * FROM nomes_clientes)
''')

In [ ]:
db('DESCRIBE nomes_all')
db('SELECT * FROM nomes_all LIMIT 5')

In [ ]:
db('DROP TABLE IF EXISTS nomes_clientes')
db('DROP TABLE IF EXISTS nomes_staff')
db('DROP TABLE IF EXISTS nomes_all')

**Vamos praticar:** refaça o exemplo acima mas use *subqueries* ao invés de *temp tables*.

## Desafios!

Faça uma lista de filmes que tenham mais de dois atores cujo nome inicia com a mesma letra do título do filme!

Semana do "DAN HARRIS": liste os clientes que nunca assistiram um filme do ator "DAN HARRIS" ou que já assistiram mas onde a ultima vez em que assistiram um filme dele foi antes de '2005-06-01'

## Conclusão

Façamos uma pausa para apreciar quão longe estamos: já conseguimos criar nossas tabelas, inserir informação, removê-la, atualizá-la, e consultar nossa base de maneiras bem sofisticadas! Vimos desde `SELECT` simples até buscas mais complexas envolvendo várias etapas de processamento para obter o dado desejado.

Por hoje é só, feche sua conexão e bom descanso!

In [ ]:
connection.close()