In [1]:
import mysql.connector
from functools import partial


def get_connection_helper():

    def run_db_query(connection, query, args=None):
        with connection.cursor() as cursor:
            print('Executando query:')
            cursor.execute(query, args)
            for result in cursor:
                print(result)

    connection = mysql.connector.connect(
        host='localhost',
        user='megadados',
        password='megadados',
        database='agro',
    )
    return connection, partial(run_db_query, connection)


connection, db = get_connection_helper()

In [2]:
db('''
SELECT
    *
FROM 
    fazenda

''')

Executando query:
(1, 'Terra Forte')
(2, 'Agua Brava')

In [4]:
db('''
SELECT
    fazenda.nome, SUM(area) as tamanho
FROM 
    fazenda
    INNER JOIN lote USING(id_fazenda)
GROUP BY
    id_fazenda
ORDER BY
    tamanho DESC
LIMIT 
    1
''')

Executando query:
('Agua Brava', 280.0)

### 5)b.Quais as plantações com área total maior que 10 hectares?

In [32]:
# AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA OI CIAO FERRARI BAD LEGREG MONACO RENEWED ALONSO EL PLAN DESTROYED ASTON STROLL MONEY LATIFI GOATIFI HAMILTON #BLESSED ABU DHABI "NO MICHAEL NO THIS IS SO NOT RIGHT" ~BREAKS HEADPHONES ~

db('''
SELECT
    plantacao.nome, SUM(area) as tamanho
FROM 
    plantacao
    INNER JOIN lote USING(id_plantacao)
GROUP BY
    lote.id_plantacao
HAVING
    tamanho > 10
''')

Executando query:
('milho', 70.0)
('soja', 130.0)
('café', 50.0)
('algodão', 200.0)

### 5)c. Qual o custo total atual com inseticidas?

In [33]:
db('''
SELECT
    SUM(preco * frequencia * area)
FROM 
    lote
    INNER JOIN inseticida USING(id_inseticida)
    INNER JOIN plantacao_inseticida USING(id_inseticida, id_plantacao)
''')

Executando query:
(120000.0,)

### 5)d.Quais inseticidas não foram usados?

In [27]:
db('''
INSERT INTO inseticida (id_inseticida, nome, preco) VALUES (4, "Agrotop", 600), (5, "Lívia", 1000)
''')

Executando query:

In [28]:
db('''
SELECT 
    *
FROM inseticida
''')

Executando query:
(1, 'Mata-Tudo', Decimal('200.00'))
(2, 'Mae-Terra', Decimal('500.00'))
(3, 'Carinho', Decimal('700.00'))
(4, 'Agrotop', Decimal('600.00'))
(5, 'Lívia', Decimal('1000.00'))

In [29]:
db('''
SELECT
    id_inseticida, inseticida.nome, id_lote
FROM 
    inseticida
    LEFT OUTER JOIN lote USING(id_inseticida)

''')

Executando query:
(1, 'Mata-Tudo', None)
(2, 'Mae-Terra', 2)
(2, 'Mae-Terra', 5)
(2, 'Mae-Terra', 6)
(3, 'Carinho', 1)
(4, 'Agrotop', None)
(5, 'Lívia', None)

In [31]:
db('''
SELECT
    id_inseticida, inseticida.nome, id_lote
FROM 
    inseticida
    LEFT OUTER JOIN lote USING(id_inseticida)
WHERE 
    id_lote IS NULL
''')

Executando query:
(1, 'Mata-Tudo', None)
(4, 'Agrotop', None)
(5, 'Lívia', None)